<app-navbar title="Students"></app-navbar>
<div class="add-btn-container">
  <div class="add-btn-elements-container">
    <input id="student-search" style="height: 20px;" #box (keyup)="search(box.value)" placeholder="Search">
    <button style="width: 120px; height: 43px; font-size: 14px;"  (click)="addNewStudent()" class="btn">Add New &nbsp;<fa-icon [icon]="faPlus"></fa-icon></button>
  </div>
</div>
  <div class="table-container">
      <table id="student-table">
          <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>DOB</th>
            <th>Hometown</th>
            <th style="width: 50px;"></th>
            <th style="width: 50px;"></th>
          </tr>
          <tr *ngFor="let student of studentData">
            <td>{{student[0].name}}</td>
            <td>{{student[0].id}}</td>
            <td>{{2022 - student[0].age}}</td>
            <td>{{student[0].hometown}}</td>
            <td id="student-edit-{{student[0].id}}" (click)="editStudent(student[0].id)" style="text-align: center;"><fa-icon  class="edit-icon" [icon]="faPenSquare"></fa-icon></td>
            <td id="student-delete-{{student[0].id}}" (click)="deleteStudent(student[0].id)" style="text-align: center; color: #FC4F4F;"><fa-icon  class="trash-icon" [icon]="faTrash"></fa-icon></td>
          </tr>
        </table>
  </div>